.main-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #f8fafc;
}

.layout-content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.main-layout.no-sidebar .layout-content {
    width: 100vw;
}